<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.exam.mapper.KsMapper">
    <resultMap id="ks" type="com.lh.exam.entity.Ks">
        <id column="ks_id" property="ksId"/>
        <result property="ksName" column="ks_name"/>
        <result property="ksNumber" column="ks_number"/>
        <result property="ksPassword" column="ks_password"/>
    </resultMap>
    <insert id="insertKs">
        insert into exam_ks (ks_name,ks_number,ks_password) values (#{ksName},#{ksNumber},#{ksPassword})
    </insert>
    <select id="selectKsForNumber" resultMap="ks">
        select * from exam_ks where ks_number= #{ksNumber}
    </select>
    <select id="selectKsForId" resultMap="ks">
        select ks_number,ks_name from exam_ks where ks_id = #{ksId}
    </select>
    <select id="selectKs" resultMap="ks" parameterType="list">
        SELECT *
        FROM exam_ks
        WHERE ks_name LIKE CONCAT('%', #{selectks}, '%')
           OR ks_number LIKE CONCAT('%', #{selectks}, '%')
    </select>
    <select id="selectAllKs" resultMap="ks" parameterType="list">
        select ks_id,ks_name,ks_number from exam_ks
    </select>


</mapper>